<h2>Welcome to Campus GPS</h2>

<p>
	<form name="query" action="http://0.0.0.0:3000/welcome/index">
	Start Location
	<select name="start">
		<option value="1059"><%=@notes[0]%></option>
	</select><br>
	Destination
	<select name="end">
		<option value="1060"><%=@notes[1]%></option>
	</select><br>
	<input type="submit" value="Search">
</form>

<p>
	<%=@result%>
</p>

</p>
